<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 注册中心配置 -->
	<!-- 应用名称，monitor使用 ，全局唯一即可 -->
	<dubbo:application name="e3-order-web" />
	<!-- 注册中心zookeeper的地址 -->
	<dubbo:registry protocol="zookeeper" address="192.168.242.139:2181"></dubbo:registry>

	<!-- 服务引用配置 -->
	<!-- 引用购物车服务 -->
	<dubbo:reference interface="cn.e3mall.cart.service.CartService"
		id="cartService"></dubbo:reference>
	<!-- 引用SSO服务 -->
	<dubbo:reference interface="cn.e3mall.sso.service.SsoService"
		id="ssoService"></dubbo:reference>
	<!-- 引用订单服务 -->
	<dubbo:reference interface="cn.e3mall.order.service.OrderService"
		id="orderService"></dubbo:reference>

</beans>